<div class="d-flex flex-column align-items-center w-100">
  <%= render 'shared/alerts' %>
  <% if @errors %>
    <%= render 'errors/error_messages', errors: @errors %>
  <% end %>
  <h2><%= header %></h2>
  <%# Initialize body with nil if body is undefined %>
  <% if body ||= nil %>
    <h4><%= body %></h4>
  <% end %>
</div>
