<%= render 'layouts/alerts' %>

<div class="mt-2">
  <div class="d-flex justify-content-between w-100">
    <div class="d-flex align-items-center">
      <h3 class="m-0 p-0 ms-2">Appointments</h3>
    </div>
    <div class="d-flex align-items-center">
      <%= link_to "New appointment", new_appointment_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="d-flex w-100 justify-content-center">
    <div id="appointments" class="w-100">
      <% @appointments.each do |appointment| %>
        <%= render 'appointment', appointment: %>
      <% end %>
    </div>
  </div>
</div>
