<div class="d-flex justify-content-center w-100">
  <div class="form-container w-100">
    <h3 class="w-100 text-center">New appointment</h3>

    <%= render 'layouts/alerts' %>

    <%= render "form", appointment: @appointment %>

  </div>
</div>
